PORT=5000
MONGO_URI=mongodb+srv://rahadul:rahadul@cluster0.npsow97.mongodb.net/foodbela_claude_26march?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=do0ygzso2
CLOUDINARY_API_KEY=615557321734594
CLOUDINARY_API_SECRET=ebdJ3Ky4I8qtd9wx591EmFObDFc

BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_CALLBACK_URL=http://localhost:5000/api/v1/payments/bkash/callback

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=rahadul134@gmail.com
EMAIL_PASSWORD=rmbikdoaztwofcrm
EMAIL_FROM=FoodBela <noreply@foodbela.com>

CLIENT_URL=http://localhost:5173
LOG_LEVEL=info
